# CODE OWNERS

# AUTOMATION
.circleci/config.yml    @ranrubin

# MODELS, LOSSES, METRICS, UTILS
native_sg/training/models/          @shairoz-deci @NatanBagrov @najeeb5 @shanibenbaruch @yurkovak @lkdci
native_sg/training/losses/          @shairoz-deci @NatanBagrov @najeeb5 @shanibenbaruch @yurkovak @lkdci
native_sg/training/metrics/         @shairoz-deci @NatanBagrov @najeeb5 @shanibenbaruch @yurkovak @lkdci
native_sg/training/utils/           @shairoz-deci @NatanBagrov @najeeb5 @shanibenbaruch @yurkovak @lkdci
native_sg/training/tests/           @shairoz-deci @NatanBagrov @najeeb5 @shanibenbaruch @yurkovak @lkdci
native_sg/training/examples/        @shairoz-deci @NatanBagrov @najeeb5 @shanibenbaruch @yurkovak @lkdci
native_sg/training/params.py        @shairoz-deci @NatanBagrov @najeeb5 @shanibenbaruch @yurkovak @lkdci


#   ALL OF native_sg REPO
*   @shaydeci @ofrimasad @BloodAxe @Louis-Dupont
